<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style_pokedex.css">
    <title>Lista de Pokemons</title>
</head>
<body>
    
        <header>
          <h2>Pokedex</h2>
    
          <nav id="menu">
            <ul>
                <ul>
                    <li><a href="/">Home</a> </li>
                    <li><a href="./cadastro">Cadastrar pokemon</a> </li>
                    <li><a href="./listaPokemon">Lista de Pokemons</a> </li>
                </ul>
            </ul>
          </nav>
        </header>
    
        <main>
          <section id="cards">
            <% pokedex.forEach((pokemon) =>{ %>
            <div class="card">
              <p>ID: <%=pokemon.id %></p>
              <img src="<%=pokemon.imagem %> " alt="Essa é uma imagem do pokemon" />
              <h3><%=pokemon.nome %></h3>
              <p><%=pokemon.descricao %></p>
              <p><%=pokemon.altura %></p>
              <p><%=pokemon.peso %></p>
              <p><%=pokemon.categoria %></p>
              <p><%=pokemon.habilidade %></p>
              <p><%=pokemon.fraqueza %></p>
            </div>
    
            <% }) %>
          </section>
        </main>
    
        <footer>
          <p>Projeto criado por A.Mathias para fins educativos. BlueEdtech</p>
        </footer>
      
    
</body>
</html>